<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Igualitos</title>
<link href="{{ url_for('static', filename='default.css')}}" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>

<div id="header">
	<div id="header_inner">
		<h1><span>igualitos.</span>IMIT</h1>
		<div id="slogan">Todos tenemos un doble en esta vida</div>
	</div>
</div>

<div id="main">

	<div id="lcol">
		<div id="menu">
			<ul>
				<li><a href="/">Home<span></span></a></li>
				<li><a href="/upload">Cargar<span></span></a></li>
				<li><a href="#">About Me<span></span></a></li>
			</ul>
		</div>
		<div id="menu_end"></div>

		<div id="lcontent">
			<h3 class="first">&uacute;timos.<span>cargados</span></h3>
			<ul class="divided">
				{% for i in ultimos%}
				{% if loop.first %}
				<li class="first">{{i.nombre}}</li>
				{% else %}
				<li>{{i.nombre}}</li>
				{% endif%}
				{% endfor %}
			</ul>
		<!--
			<h3>&uacute;timos.<span>comentarios</span></h3>
			<p><a href="#">Sollicitudin sed</a> arcu et vivamus viverra. Nullam turpis. Vestibulum Nullam turpis vestibulum.</p>	
			<div class="divider"></div>

			<p><a href="#">Vestibulum veroeros</a> sed arcu et vivamus viverra lorem ipsum dolor sit amet dolore nulla facilisi.</p>--><p/>&nbsp;<p/>
		</div>

	</div>

	<div id="rcol">
		<div id="rcontent">
			<h1>Igualitos<span>.IMIT</span></h1>
			<span id="slogan2">¿y tú a quien te pareces?</span>
		    {% block content %}
		
			{% endblock %}
		</div>
	</div>

</div>

<div id="footer">
	&copy; 2006 My.Website. All rights reserved. Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a> + <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.
</div>

</body>
</html>
